/.gitignore~
/Lists/Movies.list
/Lists/Movies.list~
/Lists/Movies1.list~
/Lists/TV Shows.list
/Lists/actresses.list
/Lists/directors.list
/Lists/imdbSort.py
/Lists/imdbSort.py~
/Lists/movie.list
/Lists/myMovies.list
/Lists/ratings.list
/Lists/readRatingsList.py
/Lists/stripAbsolutePath.py
/Lists/stripAbsolutePath.py~
/Lists/tvshow.list
/Lists/tvshowRatings.list
/Lists/plot.list
/Lists/actors.list
/Lists/allmovies.list
/Lists/movieDetails.py
/Lists/movieDetails.py~
/Lists/movieRatings.list
/Lists/movies.list
/Lists/ratings.list~
/Lists/readRatingsList.py~
/Lists/release-dates.list
/Lists/sortingMovies.py
/Lists/sortingMovies.py~
*.py[cod]

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64
__pycache__

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject
