/Media
/Tv Shows/Homeland/Season 3/Homeland.S03E01.720p.x264-HOMELAND.mkv
/Tv Shows/Homeland/Season 3/Homeland.S03E03.HDTV.x264-ASAP.mp4
/Tv Shows/How I Met Your Mother/Season 9/How.I.Met.Your.Mother.S09E05.HDTV.x264-2HD.mp4
/Tv Shows/Person Of Interest/Season 3/Person.of.Interest.S03E01.HDTV.x264-LOL.mp4
/Tv Shows/Person Of Interest/Season 3/Person.of.Interest.S03E02.720p.HDTV.X264-DIMENSION.mkv
/Tv Shows/The Big Bang Theory/Season 7/The.Big.Bang.Theory.S07E01.HDTV.x264-LOL.mp4
/Tv Shows/The Big Bang Theory/Season 7/The.Big.Bang.Theory.S07E02.HDTV.x264-LOL.mp4
/Tv Shows/The Big Bang Theory/Season 7/The.Big.Bang.Theory.S07E03.HDTV.x264-LOL.mp4
/Tv Shows/The Big Bang Theory/Season 7/The.Big.Bang.Theory.S07E04.HDTV.x264-LOL.mp4
/Tv Shows/test.txt
/.gitignore~
/Lists/Movies.list
/Lists/Movies.list~
/Lists/Movies1.list~
/Lists/TV Shows.list
/Lists/actresses.list
/Lists/directors.list
/Lists/imdbSort.py
/Lists/imdbSort.py~
/Lists/movie.list
/Lists/myMovies.list
/Lists/ratings.list
/Lists/readRatingsList.py
/Lists/stripAbsolutePath.py
/Lists/stripAbsolutePath.py~
/Lists/tvshow.list
/Lists/tvshowRatings.list
/Lists/plot.list
/Lists/actors.list
/Lists/allmovies.list
/Lists/movieDetails.py
/Lists/movieDetails.py~
/Lists/movieRatings.list
/Lists/movies.list
/Lists/ratings.list~
/Lists/readRatingsList.py~
/Lists/release-dates.list
/Lists/sortingMovies.py
/Lists/sortingMovies.py~
*.py[cod]

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64
__pycache__

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject
